<html>
<body>
<h1>{{inventory_hostname}} Service Container: <?php echo gethostname(); ?> </h1>
<h1>
Service container NAT IPv4 address: <?php system("ip -o addr show | grep 'inet ' | grep 'eth0' | awk '{print $4}'"); ?> </h1>
<h1>
Service container NAT IPv6 address: <?php system("ip -o addr show | grep 'inet6 ' | grep 'eth0' | awk '{print $4}'"); ?> </h1>
</body>
</html>

