{% set intvars = interfaces[ansible_hostname] -%}
!
ip import-table 30
!
{% for neighbor in intvars.neighbors %}
interface {{ neighbor }}
 ipv6 nd ra-interval 10
 no ipv6 nd suppress-ra
!
{% endfor %}
router bgp {{ intvars.asn }}
 bgp router-id {{ intvars.loopback }}
 bgp bestpath as-path multipath-relax
 redistribute connected route-map LOCAL_ROUTES
{% for neighbor in intvars.neighbors %}
 neighbor {{ neighbor }} interface remote-as external
 neighbor {{ neighbor }} filter-list HOST_ORIGINATED_ROUTES out
{% endfor %}
 address-family ipv4 unicast
  redistribute table 30
 exit-address-family
!
address-family ipv6 unicast
  neighbor fabric activate
{% for neighbor in intvars.neighbors %}
  neighbor {{ neighbor }} activate
{% endfor %}
exit-address-family
!
route-map LOCAL_ROUTES permit 10
  match interface lo
!
ip as-path access-list HOST_ORIGINATED_ROUTES permit ^$

